<!DOCTYPE html>
<html>
    <head>
        <title>Comments</title>
    </head>
    <body>
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
            <div id="commentInputDiv">
                <form method="POST">
                    <label for="commentText">Comment:</label>
                    <input type="text" id="commentText" name="commentText">
                    <input type="submit" value="Submit">
                </form>
                
            </div>
            <div id="commentViewDiv">
                <ul>
                    <% comments.forEach(function(comment){ %>
                        <li>
                            <h4>
                                <%= comment.commentText %>
                            </h4>
                        </li>
                    <% }); %>    
                    
                </ul>
            </div>
            
        </main>
        <script type="text/javascript" src="/js/manageHeader.js"></script>
        <script>
            var res = "<%- firstName %>";
            var isAdmin = "<%- isAdmin %>";
            console.log("Testing: " + isAdmin);
            manageHeader(res);
            if(res == "Not logged in" || res == undefined){
                document.getElementById("commentInputDiv").remove();
            }
            console.log("Testing: " + isAdmin);

            if(isAdmin == "true"){
                //console.log("Testing");
                var deleteAllButton = document.createElement("button");
                deleteAllButton.innerText = "Delete all Comments";

                var commentInputDiv = document.getElementById("commentInputDiv");
                commentInputDiv.appendChild(deleteAllButton);
            }



            //var comments = JSON.stringify("<%= comments %>");
            //console.log(comments);

        </script>
    </body>
</html>