<!DOCTYPE html>
<html>
    <head>
        <title>My Account</title>
    </head>
    <body>
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
            <h5>First Name: <%= firstName %></h5>
            <h5>Last Name: <%= lastName %></h5>
            <h5>Date of Birth: <%= dateOfBirth %></h5>
            <h5>Email Address: <%= emailAddress %></h5>
            <a href="/myAccount/editAccount">Edit Account Details</a>
        </main>
        <script type="text/javascript" src="/js/manageHeader.js"></script>
        <script>
            var res = "<%- firstName %>";
            manageHeader(res);
        </script>

    </body>
</html>