<!DOCTYPE html>
<html>
    <head>
        <title>Shop</title>
        <%- include('../partials/head') %>
    </head>
    <body>
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
            <ul>
                <% shopItems.forEach(function(item){ %>
                    <li>
                        <h3>
                            <%= item.itemName %>
                        </h3>
                        <h4>
                            <%= item.itemDescription %>
                        </h4>
                        <h4>
                            Price: £<%= item.itemCost %>
                        </h4>
                        <h4>
                            Remaining Stock: <%= item.itemStock %>
                        </h4>
                        <form method="POST" action="/shop">
                            <input type="text" name="itemName" value="<%=item.itemName %>" hidden>
                            <input type="text" name="itemDescription" value="<%=item.itemDescription %>" hidden>
                            <input type="text" name="itemCost" value="<%=item.itemCost %>" hidden>
                            <input type="text" id="itemStock" name="itemStock" value="<%=item.itemStock %>" hidden>
                            <label for="quantity">Quantity: </label>
                            <input type="text" id="quantity" name="quantity" value="1">
                            <input type="submit" value="Add to Cart" onclick="return validation(this)">
                        </form>
                    </li>
                    <% }); %>
            </ul>
        </main>
        <script type="text/javascript" src="/js/manageHeader.js"></script>
        <script>
            var res = "<%- firstName %>";
            manageHeader(res);

            // Checks user is logged in and ensures that there is adequate stock to add to cart
            function validation(element){
                if(res == "Not logged in" || res == undefined){
                    alert("You must be logged in to make a purchase");
                    return false;

                }
                else{
                    var form = element.parentNode;
                    var children = form.childNodes;
                    //console.log(children);
                    var stock;
                    var quantity;

                    children.forEach(element => {
                        if(element.id == "itemStock"){
                            stock = element;
                            //console.log(stock);
                        }
                        if(element.id == "quantity"){
                            quantity = element;
                        }
                    });

                    if(stock.value == "0"){
                        alert("Item is out of stock");
                        
                        return false;
                    }
                    stockVal = parseInt(stock.value);

                    
                    quantityVal = parseInt(quantity.value);

                    if(stockVal < quantityVal){
                        alert("Not enough stock");
                        return false;
                    }
                }
            }

        </script>
    </body>
</html>