<!DOCTYPE html>
<html>
    <head>
        <title>Shop</title>
    </head>
    <body>
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
            <ul>
                <% shopItems.forEach(function(item){ %>
                    <li>
                        <h3>
                            <%= item.itemName %>
                        </h3>
                        <h4>
                            <%= item.itemDescription %>
                        </h4>
                        <h4>
                            <%= item.itemCost %>
                        </h4>
                        <h4>
                            Remaining Stock: <%= item.itemStock %>
                        </h4>
                        <form method="POST" action="/shop">
                            <input type="text" name="itemName" value="<%=item.itemName %>" hidden>
                            <input type="text" name="itemDescription" value="<%=item.itemDescription %>" hidden>
                            <input type="text" name="itemCost" value="<%=item.itemCost %>" hidden>
                            <input type="text" name="itemStock" value="<%=item.itemStock %>" hidden>
                            <label for="quantity">Quantity: </label>
                            <input type="text" id="quantity" name="quantity" value="1">
                            <input type="submit" value="Add to Cart" onclick="accountValidation()">
                        </form>
                    </li>
                    <% }); %>
            </ul>
        </main>
        <script type="text/javascript" src="/js/manageHeader.js"></script>
        <script>
            var res = "<%- firstName %>";
            manageHeader(res);

            function accountValidation(){
                if(res == "Not logged in" || res == undefined){
                    alert("You must be logged in to make a purchase");
                }
            }

        </script>
    </body>
</html>